img {
    margin: 15px;
    padding: 5px;
    object-fit: cover;
    height: 400px;
    width: 800px;
    
};

body {
    line-height: 1;
    background-color: lightslategray;
};

[type="checkbox"]+span:not(.lever) {
    margin: 10px;
    padding-left: 20px;
};

.ingredient-wrapper span {
    margin: 30px;
}